/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

#printPicture {
  width: 1500px; 
  height: 1000px;
}

span {
  font-weight: lighter
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
